.DS_Store
__pycache__/
.ipynb_checkpoints/
*.pyc

/.venv
.venv/
.venv_backup/
uv.lock
.ruff_cache
build/

.vscode/settings.json
.env

local_assets/*/*.md
local_assets/vector_index_feed_*.csv
local_assets/*_output_pandas.csv

logs/log_*.log

temp_ref/
