.DS_Store

__pycache__/
.ipynb_checkpoints/
*.pyc

/.venv
.venv/
.venv_backup/

build/

uv.lock
.ruff_cache

.vscode/settings.json

local_assets/*/*.md
local_assets/vector_index_feed_*.csv

logs/log_*.log
logs/cursor_logs/test_run_*.log

docs/private.md
.env
temp_ref/
